*{ margin: 0; }
body{height: 100%;
  width: 100%;}
header {
	text-align: center;
	width: auto;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay {

	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, rgb(41, 28, 160) 10%,#aa46e46b 100%);
	
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 70px;
	margin-bottom: 30px;
}
.flexp{
  align-content: center;
  flex-grow: inherit;
  margin:0;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  
}
.container{
    margin: 50px;  
    width: 350px;
    height: 100px;   
    position: relative;
    overflow: hidden;
    border-radius:40px/24px;
    background-image: linear-gradient( 135deg, rgb(41, 28, 160) 10%,#aa46e46b 100%);
    transition: .5s;
}

.container::after,
.container::before {
  content: '';
  width: 100%;
  height: 300%;
  position: absolute;
  top: -60%;
  left: 50%;
  transform: translate(-20%, -15%);
  background: #000;
}
.container::before {
  
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}
.container::after {
  
  border-radius: 40%;
  background: rgba(20, 20, 20, .5);
  animation: animate 10s linear infinite;
}
.container:hover {
  background-color: yellow;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
